<div class="pt-4 pb-4">
  <h1 class="fs-4">Ferias Marcadas</h1>
</div>
<div>
  {{#if ferias}}
    <table class="table">
      <tr>
        <td>Ferias ID</td>
        <td>Ferias Inicio</td>
        <td>Ferias Fim</td>
        {{#if tipo}}
          <td>Utilizador ID</td>
          <td>Utilizador Nome</td>
          <td>Utilizador Email</td>
        {{/if}}
      </tr>
      {{#each ferias}}
        <tr>
          <td>{{Ferias_ID}}</td>
          <td>{{Ferias_data_inicio}}</td>
          <td>{{Ferias_data_fim}}</td>
          {{#if ../tipo}}
            <td>{{lookup ../utilizadoresID @index}}</td>
            <td>{{lookup ../utilizadoresnome @index}}</td>
            <td>{{lookup ../utilizadoresemail @index}}</td>
          {{/if}}
        </tr>
      {{/each}}
    </table>
  {{else}}
    <p>Sem Ferias Marcadas</p>
  {{/if}}
</div>

{{#if errorMessage}}
  <script>
    window.onload = function () { alert("{{errorMessage}}"); }
  </script>
{{/if}}